<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />
<roundcube:include file="/includes/settingstabs.html" />

<div id="userprefs-box">
<div id="userprefs-title"><roundcube:label name="changepasswd_AD.changepasswd" /></div>

<div style="padding:15px 0 15px 15px">
<roundcube:object name="changepasswd" />
<div style="clear:left"></div>
</div>
</div>

<p id="listbuttons"><roundcube:button command="plugin.changepasswd_AD.save" type="input" class="button mainaction" label="save" /></p>

</body>
</html>
